        
        .jjg{
            margin-top: 50px;
        }
        b2{
            text-align:center;
        }
        
       marquee{
        font-family: sans-serif;
        font-weight: bold;
        color: 1px solid black;
        width: 100%;
       }
        
        label.logo{
            color: white;
            font-size: 37px;
            line-height: 80px;
            padding: 0 100px;
            font-weight: bold;
        
        }
      
        a{
            color:none;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
        }
       a:hover{
            background: rgb(190, 238, 17);
        
        }
       /* a:active{
            background-color: blue;
        }*/
       


        :root{
            --color-primary:none;
            --color-white:white;
            --color-black:black;
            --color-black-1:black;
        
        }
        
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        
        }
        body{
            font-family: sans-serif;
        }
        .menu_bar{
            background-color:black;
            height:80px;
            display:flex;
            
            align-items: center;
            justify-content:space-between;
            padding:0 5% ;
            text-align: center;
           
        
        }
        .logo{
            color:black;
            font-size: 100px; 

            
        }
        
        .menu_bar ul {
            list-style: none;
            display: flex;
            background-color:black; 
            padding: 13px ;
            
        
        }
        .menu_bar ul li{
            padding: 10px 30px;
            width:max-content ;
            
        
        }
        .menu_bar ul li a{
            color: white;
            text-decoration: none;
            font-size: 20px;
            transition: none;
            width:max-content ;
            
        
        }
        .menu_bar ul li a:hover{
            color:var(--color-primary)
            
        }
       
        .menu-ber2{
            background-color: rgb(0,100,0) ;
            text-align: center;
            margin-top: -76px;
            width: max-content;
            margin-left: 50px;
            border-radius: 10px;
            
        }
        .menu-ber2 ul{
            display: inline-flex;
            list-style: none;
            color: wheat;

        }
        .menu-ber2 ul li{
            width: 120px;
            margin: 5px;
            padding: 5px;
            
        }
        .menu-ber2 ul li a{
            color: var(--color-white);
            text-decoration: none;
            font-size: 20px;
            transition: none;
        
        }
        .acc,.menu-ber2 ul li:hover{
            background-color: none;
            border-radius: 3px;   
        }
        .sub-menu3{
            display: none;
            width: 150px;
        }
        .menu-ber2 ul li:hover .sub-menu3{
            display: block;
            position: absolute;
            background-color: rgb(0,100,0);
            margin-top:5px;
            margin-left: -17px;

        }
        .menu-ber2 ul li:hover .sub-menu3 ul{
            display: block;
            margin: 10px;
            
        }
        .sub-menu4{
            font-display: block;
        }
        .menu-ber2 ul li:hover .sub-menu3 ul li{
           width: 140px;
            padding: 10px;
            border-bottom: 1px dotted #fff;
            background: transparent;
            border-radius: 0;
            text-align: left;
            
        }
        .menu-ber2 ul li:hover .sub-menu3 ul li:last-child{
            border-bottom: none;
        }
        .menu-ber2 ul li:hover, .sub-menu3 ul li a:hover, .menu-ber2 ul li a:hover{
            color:black ;
            font-weight: bold;
        }
        .menu-ber2 ul li a:hover{
            background-color:green;
            border-right: 2px;
        }
        .sub-menu3 ul li a:hover{
            font-weight: bold;
            color: black;
        }
    
        
       
         .llk{
            border-style: none;
            
         }
        






         .sub-menu3{
            background-color: rgb(0,100,0) ;
            text-align: center;
            margin-top: -76px;
            width: max-content;
            margin-left: 50px;
            border-radius: 10px;
            
        }
        .sub-menu3 ul{
            display: inline-flex;
            list-style: none;
            color: wheat;

        }
        .sub-menu3 ul li{
            width: 120px;
            margin: 5px;
            padding: 5px;
            
        }
        .sub-menu3 ul li a{
            color: var(--color-white);
            text-decoration: none;
            font-size: 20px;
            transition: none;
        
        }
        .acc,.sub-menu3 ul li:hover{
            background-color: none;
            border-radius: 3px;   
        }
        .sub-menu5{
            display: none;
            width: 155px;
        }
        .sub-menu3 ul li:hover .sub-menu5{
            display: block;
            position: absolute;
            background-color: rgb(0,100,0);
            margin-top:-40px;
            margin-left: 130px;

        }
        .sub-menu3 ul li:hover .sub-menu5 ul{
            display: block;
            margin: 10px;
            
        }
        .sub-menu4{
            font-display: block;
        }
        .sub-menu3 ul li:hover .sub-menu5 ul li{
           width: 140px;
            padding: 10px;
            border-bottom: 1px dotted #fff;
            background: transparent;
            border-radius: 0;
            text-align: left;
            
        }
        .sub-menu3 ul li:hover .sub-menu5 ul li:last-child{
            border-bottom: none;
        }
        .sub-menu3 ul li:hover, .sub-menu ul li a:hover, .sub-menu3 ul li a:hover{
            color:black ;
        }

.fffl{
    margin-left: 880px;
    padding-top: -90px;
    height: 250px; 
    width: 600px;
}